<h1>Nightly Registration</h1>

<p>
  Greetings, 
</p>
<p>
  A Nightly user, <%= @email %>, has registered you as the recipient of their Nightly review. If you believe have recieved this email in error, please contact us at info@my-nightly.com.
</p>
<p>
  Thanks, 
  Liz
</p>
<%= link_to "Join Nightly", "http://my-nightly.com" %>
