<h1>Welcome to Nightly!</h1>

<p>
  Greetings <%= @user %>,
</p>
<p>
  Thank you for joining Nightly. Currently your reviews are being shared via email with <%= @sponsor %>. 
</p>
<p>
  Should you have any questions or concerns, please do not hestiate to reach us at info@my-nightly.com. 
</p>

<p>
  Onward and upward,<br>
  Liz
</p>