<h1>Nightly Registration</h1>

<p>
  Greetings <%= @user %>, 
</p>
<p>
  Thank you for registering for Nightly review. You've registered a sponsor at the following email address: <%= @sponsor %>.
</p>
<p>
  If you believe have recieved this email in error, please contact us at info@my-nightly.com.
</p>
<p>
  Thanks, 
  Liz
</p>
<%= link_to "Join Nightly", "http://my-nightly.com" %>