<div class="jumbotron vertical-center">
  <h1 class="text-center">Welcome</h1>
  <p class="text-center">Nightly is a tool for drafting personal inventories and sharing them with an accountability partner.</p>
  <div class="text-center">
    <div class="alert alert-info" role="alert">
      <strong>Sorry</strong> Nightly is currently down for servicing until 3/31/17. Apologies for the inconvenience.
    </div>
    <!-- <%= link_to('  Enter  ', new_user_session_path, class: "btn btn-primary btn-lg") %><br> -->
    <br>
    Not a Nightly User?
    <%= link_to('Register', new_user_registration_path) %>
  </div>
</div>
