<h3>Past Reviews</h3>
<ul>
<% @posts.each do |post| %>
  <li><h4><%= link_to post.created_at.strftime("%m/%d/%Y"), post %></h4></li>
<% end %>
</ul>
<br>
<%= link_to 'New Review', new_post_path, :class => 'btn btn-default'%>
